.bottom{
    display: flex;
}

.login-Page{
    display: flex;
    width:800px;
    margin: auto;
    box-shadow: 5px 2px 5px 2px rgba(226, 219, 219, 0.992); 
    margin-top:3%;
    background-color: white;
}

.login-heading{
    color:#ff9a9c;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
}

.nameLogin{
    display: block;
    width: 70%;
    border-radius: 23.5px;
    height: 47px;
    padding: 0 24px;
    color: gray;
    font-size: 13px;
    border: none;
    background: #f7f7f7;
    margin-bottom: 30px;
    margin-left:50px;
    margin-top: 2%;
}

.labelLogin{
    color:#ff9a9c;
    font-size: 16px;
    margin-bottom:30px;
    margin-left:65px;
    margin-top: 5%;
}

.loginButton{
    letter-spacing: 2px;
    border: none;
    width: 133px;
    height: 47px;
    margin-right: 19px;
    border-radius: 23.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ff9a9c;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin-left:50px;
    margin-bottom: 30px;
}

.alreadylogin-message1{
    color: gray;
    font-size: 15px;
    margin-left: -10px;
}

.outerLayer-Login{
    background-color:#FFDDD2;
    padding: 50px;
    height:610px;
}

.naivation-register{
    color: #ff9a9c;
    text-decoration: none;
    margin-top:4.5%;
    margin-left: 2%;
    cursor: pointer;
}